{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.desc |truncatewords:155 }}
    {% else %}
        Welcome to the cart store.
    {% endif %}

{% endblock %}
{% block title %}
    {% if category %}
        {{category.name}}-shop cart
    {% else %}
        see our collections-shop cart
    {% endif %}

{% endblock %}

{% block content %}
    {% if category %}
        <div class="row my_row_class">

            <div class="text-center mx-auto">
                <p><a href="{% url 'ecomapp:AllProdCat' %}">Our product collection</a>{{category.name}}</p>
            </div>

        </div>

    {% endif %}
<div class="mx-auto">
    {% if category %}
        <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">

</div><br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text justify">{{category.desc}}</p>
</div>
{% else %}
    <div>
        <center><img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" style="Width:1250px;" alt="this is banner"></center>
    </div><br>
    <div>
        <h1 class="text-center my_title">Our Product Collections</h1><br>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
{% endif %}
<div>
<div class="container">
    <div class="row max-auto">

        {% for product in products.object_list %}
            <div class="col-9 col-sm-12 col-md-4 col-lg-4">

            <div class="card text-center" style="width:18rem;">
            <a href="{{product.get_url}}"><img class=" card-img-top my_image"  src="{{product.image.url}}" style="width:250px;height:250px"  alt="{{product.name}}"></a><br>
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <p class="card-text">${{product.price}}</p>
            </div>
                </div>
        </div>
    {% endfor %}
        </div>
            <div class="text-center mx-auto">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class=" btn btn-light btn-sm {% if products.num == pg %} activate {% endif %}" >{{pg}}</a>
            {% endfor %}
            </div>

        </div>
</div>
{% endblock %}
