{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<h1>Registration</h1>
<form action="register" method="post">
     {% csrf_token %}
    <input type="text" name="firstname" placeholder="Firstname"><br>
    <input type="text" name="lastname" placeholder="Lastname"><br>
    <input type="text" name="username" placeholder="Username"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="password" name="confirm password" placeholder="Confirm Password"><br>
    <input type="submit" value="registration">


</form>

<div>
    {% for message in messages %}
    <h4>{{message}}</h4>
    {% endfor %}

</div>
<body>

</body>



</html>
